 /* footer design */
.aboutpg-footer-bg-style {
    width: 100%;
    color: white;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    height: 10em;
    font-size: 0.8em;
    text-align: center;
    background-color: #1c1a25;
}
.desktop-view {
  display: none;
}

#footer-container header {
    text-align: center;
    margin: 0.2em;
    padding-right: 1.9em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1.9em;
    font-weight: 900;
    color:white;
  }

  #footer-container input {
    height: 2.3em;
    width: 40% auto;
    margin-bottom: 1em;
    border-radius: 0.7em;
  }

  #footer-container input::placeholder {
    color: #1a1440;
    text-align: center;
    font-size: 1em;
    font-weight: 900;
    opacity: 0.9;
    border: 0px;
}

  #footer-container .txtarea-style::placeholder {
    color: #1a1440;
    font-weight: 900;
    padding: 1em;
    text-align: left;
    transform: translateY(-45px);
    opacity: 0.9;
  }

  #footer-container .txtarea-style[type=text]{
    color: #1a1440;
    font-weight: 900;
    padding: 0.5em;
    opacity: 0.9;
    border: 0px solid none;
    padding-left: 1em;
    text-align: left;
  }

  #footer-container .txtarea-style {
    margin: 0 auto;
    height: 12em;
    width: 70%;
    border-radius: 1.2em;
    border: 0px;
  }

  #footer-container #copyright-container {
    margin: 0 auto;
    margin-top: 2em ;
    padding: 0.5em;
    font-weight: 900;
    width: 120px;
    border-radius: 0.7em;
    font-size: 0.8em;
    background-color: #ec3878;
  }

  #footer-container p {
    padding-top: 0.7em;
    font-size: 0.9em;
    font-weight: 900;
    padding-left: 2.46em;
    padding-right: 2.46em;
  }

  #email-style {
    height: 0.5em;
  }

  /* mobile to tablet view */
  @media screen and (min-width: 770px) {
    #aboutpage-style-container header {
      font-size: 1em;
    }
    .aboutpg-footer-bg-style {
      height: 7em;
    }
    #aboutpage-style-container #email-style {
      display: block;
      width: 35%;
      height: 1.5em;
      margin: 0 auto;
      margin-bottom: 1em;
    }
    #aboutpage-style-container #email-style[type="text"]{
      font-size: 0.9em;
      padding: 0.2em;
    }
    #aboutpage-style-container .txtarea-style {
      width: 50%;
      height:10em;
    }
    #aboutpage-style-container .txtarea-style[type=text] {
      font-size: 1em;
    }
    #footer-container #copyright-container {
      font-size: 0.8em;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }
  }
  /*desktop design */
  @media screen and (min-width:1000px) {
    .desktop-view {
      display: block;
    }
     /* footer design */
    .aboutpg-footer-bg-style {
      height: 22em;
      margin-top: -2em;
    }
    #aboutpage-style-container header{
      font-size: 1.5em;
    }
    #aboutpage-style-container #email-style {
      display: block;
      width: 25%;
      height: 2.5em;
      margin: 0 auto;
      margin-bottom: 2em;
    }
    #aboutpage-style-container #email-style[type="text"]{
      font-size: 1.1em;
      padding: 0.2em;
    }
    #aboutpage-style-container .txtarea-style {
      width: 30%;
      height:15em;
    }
    #aboutpage-style-container .txtarea-style[type=text] {
      font-size: 1.1em;
    }
    #footer-container p {
      margin-top: 2.5em;
      font-size: 1.2em;
    }
    #footer-container #copyright-container {
      font-size: 1em;
      margin-top: 2.5em;
    }
  }
