/* mobile view*/
#aboutpg-base-container {
    /*background-color: #2d293b;*/
    background-color: white;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color:white;
    font-size: 0.8em;
    display: block;
    padding: 2em 2em 2em 2em;
    width: 100% auto;
    text-align: center;
}
#section1-softskills-container {
  background-color: #5a41d1;
  padding: 0.01em 1em 1em 1em;
  margin-top: 0.6em;
  margin-bottom: 1em;
}
#section1-softskills-container h1 {
  color: #3b335e;
  text-align: left;
}
#section1-ul-divcontainer li {
  font-weight: 800;
  text-align: left;
  margin-top: 1.5em;
  list-style-type:disc;
}
#section2-aboutme-container {
  margin-top: 0.5em;
  background-color: #5a41d1;
  padding: 0.01em 1em 1em 1em;
}
#section2-aboutme-container h1 {
  color: #3b335e;
  text-align: left;
}
#section2-p-divcontainer p{
  font-weight: 800;
  text-align: justify;
  padding: 1em;
}
.desktop-view {
  display: none;
}

/* tablet view */
@media screen and (min-width: 770px) {
  .desktop-view {
    display: block;
    background-color: #5a41d1;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0.2em 1em 2em 0.1em black;
    z-index: 5000;
  }
  #aboutpg-base-container {
    display: flex;
  }
  #section1-softskills-container {
    width: 40%;
  }
  #section1-ul-divcontainer {
    background-color: #5a41d1;
  }
  #section2-aboutme-container {
    background: none;
    width: 60%;
  }
  #section2-p-divcontainer {
    background-color: #5a41d1;
    padding: 1em;
  }
  #section2-aboutme-container .desktop-view h1 {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  #aboutpg-base-container {
    padding: 5em 10em 10em 10em;
    margin: 0 auto;
    width: 60%;
    font-size: 1.1em;
  }
  #section2-aboutme-container p {
    font-size: 0.9em;
    font-weight: 900;
  }
}

