#project-box-container {
  display: inline-block;
  padding: 2.2em;
  background-color: white;
  width: 60%;
  margin: 0 auto;
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: left;
  box-shadow: 0em 0.2em 0.2em 0.1em rgb(214, 214, 214);
}
#project-img {
  margin: 0 auto;
  height:10em;
}
#project-img img {
  width: 100%;
  height:8em;
  border: 0.1em solid #5a41d1;
  border-radius: 0.5em;
}
#project-box-container p {
  font-size: 0.8em;
}
#project-box-btns-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
#project-box-btns-container button {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border: 0;
  border-radius:0.3em;
  color: white;
  padding: 0.6em;
  font-size: 0.8em;
  font-weight: 700;
  background-color: #5a41d1;
}
#project-box-btns-container a {
  text-decoration: none;
  color: white;
}
#project-box-btns-container a:hover {
  color: #5a41d1;
}
#project-box-btns-container:hover {
  cursor: pointer;
}
#project-box-container:hover {
  cursor: pointer;
}
#project-box-container #seemore-btn {
  cursor: pointer;
  color: #5a41d1;
  border: 0;
  margin-bottom: 1em;
}
#project-box-container #seemore-btn:hover {
  cursor: pointer;
  color: black;
  font-size: 0.9em;
  font-weight: 700;
  border: 0.2em solid #5a41d1;
  margin-bottom: 1em;
  transition: 0.1s;
}
#project-box-btns-container button:hover {
  border: 0.2em solid #5a41d1;
  cursor: pointer;
  background-color: white;
  color: #5a41d1;
  transition: 0.3s;
}

@media screen and (min-width: 500px){
  #project-box-container {
    width:30%;
  }
  #project-img img {
    height: 8em;
  }
}

@media screen and (min-width: 770px){
  #project-box-container {
    width:20%;
  }
  #project-img img {
    height: 7em;
  }

}

@media screen and (min-width: 1300px) {
  #project-box-container {
    margin: 0;
    width:23%;
    margin: 0.3em
  }
  #project-img img {
    height: 9em;
  }
  #project-box-btns-container button {
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0;
    margin-left: 1em;
    margin-right: 1em;
  }
}

