<div id="project-box-container">
  <span><div><h5>Site Status: {{ url ? "Online" : "Offline"}}</h5></div><div [class.siteStatus]="url != ''"></div></span><br><br>
  <div id="project-img">
    <img [src]="imageUrl" alt="">
  </div>
  <h4>{{ projectTitle }}</h4>
  <button id="seemore-btn" (click)="onclick()">{{btnName}}</button>
  <p [@ease-up]="isState ? 'hidden' : 'slideUp' " [hidden]="isHover" >
    {{ description }}
  </p>
  <div  id="project-box-btns-container">
    <a [href]="gitHubUrl"><button [disabled]="gitHubUrl == '' ">See Code</button></a>
    <a [href]="url"><button [disabled]="url == ''">Live Demo</button></a>
  </div>
</div>
