/* about me button style */
#welc-page-links-container {
  text-align: center;
}
#welc-page-links-container img {
  border-radius:100%;
  width: 2em;
  height: 2em;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #000081;
  box-shadow: 0.1em 0.1em 0.1em 0.1em darkgrey;
}

#highlight-info-style {
  color: #5843d6;
  font-weight: 700;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
}
#home-page-container {
    text-align: left;
}
#section-1-banner {
  padding-top: 5em;
  display: block;
}
#section-2-info {
  display: block;
}
#home-page-container h1 {
    color: #5843d6;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
}
#home-page-container h2 {
    text-align: center;
    font-size: 1.8;
    font-stretch:extra-expanded;
    font-style: italic;
}
#short-description-container {
  margin: 0 auto;
}
#short-description-container p {
  font-size: 0.8em;
  padding: 0em 2em 0em 2em;
  text-align: center;
}
h2 span {
    color: #d34747;
    font-family: 'Times New Roman', Times, serif;
}
#pink-color {
    color: #ec3878;
}

#desktop-view {
    display: none;
}
#welc-page-links-container {
  margin-top: 2em;
}

/* mini tablet to large tablet view*/
@media screen and (min-width: 770px) {
  #desktop-view {
    display: none;
  }
  #short-description-container p {
    width: 400px;
    margin: 0 auto;
  }
}

/* desktop view */
@media screen and (min-width: 1000px) {
  #welcome-page-container {
    margin-left: -5em;
  }
  #short-description-container p {
    text-align: left;
  }
  #short-description-container{
    margin: 2em;
    padding-left: 5em;
  }
  #welc-page-links-container {
    display: none;
  }
  #home-page-container {
      padding-top: 0em;
      align-items: center;
      justify-content: center;
  }
  #desktop-view {
      display: flex;
  }
  #section-1-banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mobile-view {
    text-align: left;
  }
  #mobile-view #welcome-page-container h1 {
      font-size: 5em;
  }
  #mobile-view #welcome-page-container h2 {
      margin-left: 0.2em;
      margin-top: -1em;
      font-size: 2em;
  }
  #desktop-view img{
      height: 20em;
      width: 23.5em;
  }
}
