#skills-comp-cont {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color:white;
    width: 100%;
    margin-top: -3.5em;
    padding-top: 5em;
    padding-bottom: 3em;
    text-align: center;
    background: linear-gradient(#5d2e9c 0.5%, #5843d6 30%);
}

#skills-comp-cont span{
    color:#f6ee06;
}

#skills-box-container {
    width: 100%;
    font-size: 1.5em;
}

.skill-box-row {
    justify-content: center;
    width: 100%;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}