#skills-comp-cont {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  color:white;
  width: 100% auto;
  margin-top: -3.5em;
  padding-top: 5em;
  padding-bottom: 3em;
  background: linear-gradient(#5d2e9c 0.5%, #5843d6 30%);
}

#desktop-view {
  display:none;
}

#mobile-view {
  display: block;
  margin: 0.5em;
  border-radius: 0.5em;
  margin: 0 auto;
  width: 100%;
}

#skills-comp-cont h1 {
  font-size: 2.6em;
  text-align: center;
}

#skills-comp-cont span{
  color:#f6ee06;
}

.skill-box-row {
  display: inline-block;
  align-items: center;
  justify-content: center;
}
#skills-box-container {
  text-align: center;
  font-size: 1.5em;
}

@media screen and (min-width: 700px) {
  #mobile-view {
    display: none;
  }
  #skills-comp-cont {
    padding-top: 7em;
  }
  #desktop-view {
    display: block;
    border-radius: 0.5em;
    padding-left: 2em;
    margin: 0 auto;
    width: 90%;
    height:45em;
    background-color: #2b1c5b;;
    padding-right: 2em;
    padding-bottom: 5em;
    padding-top: 2em;
  }
}

@media screen and (min-width: 1650px) {
  #mobile-view {
    display:none;
  }
  #tablet-view {
    display: none;
  }

  #skills-comp-cont {
    padding-top: 10em;
    padding-bottom: 10em;
  }

  #desktop-view {
    display: block;
    border-radius: 0.5em;
    padding-left: 2em;
    margin: 0 auto;
    width: 90%;
    height:50em;
    background-color: #2b1c5b;;
    padding-right: 5em;
    padding-bottom: 5em;
    padding-top: 2em;
  }

  #skills-comp-cont h1 {
    font-size: 3em;
  }

  #skills-comp-cont span{
    color:#f6ee06;
  }

  .skill-box-row {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #skills-box-container {
    font-size: 1.8em;
  }
}



/* desktop view */
