<div [hidden]="visibility" id="nav-bar-slider-container">
  <div id="slider-bar-head-cont">
    <div id="side-bar-logo-cont">
      <img src="../../assets/img/Hnaro-logo.png" alt="" srcset="">
    </div>
    <div id="side-bar-close-cont">
    </div>
  </div>
  <div id="slider-bar-link-cont">
    <ul>
      <li><button (click)="showHomePage()">Home</button></li>
      <li><button (click)="showSkillsPage()">Skills</button></li>
      <li><button (click)="showEduAndExpPage()">Education & Experiences</button></li>
      <li><button (click)="showAboutPage()">About</button></li>
    </ul>
  </div>
  <div id="slider-bar-footer"></div>
</div>
