.nav-bar-slider-container {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -3em;
  background: white;
  z-index: 500000;
  box-shadow: -0.2em 0.2em 0.2em 0.3em grey;
}

#slider-bar-head-cont {
  display: flex;
}

#side-bar-logo-cont {
  width: 94%;
  background: transparent;
  /*background: #5843d6;*/
}

#slider-bar-head-cont img {
  margin-right: 7em;
  width: 102px;
  height: 40px;
  padding: 1.2em;
}

#slider-bar-head-cont button {
  padding-top: 0.7em;
  width: 100% auto;
  font-size: 1.5em;
  border: 0px;
  color:#ec3878;
  background: transparent;
}

#slider-bar-link-cont {
  margin-top: 3em;
}

#side-bar-close-cont {
  width: 5%;
  padding-right: 2.5em;
}
#side-bar-close-cont img {
}

#side-bar-close-cont img {
  width: 2em;
  height: 2em;
}

ul {
  list-style: none;
}

li {
  margin-top: 2em;
  border-left: 0.3em solid #ec3878;
}

li button {
  /*color: white;*/
  color: #5843d6;
  font-size: 1em;
  font-weight: 900;
  width: 100%;
  text-align: left;
  border: 0px;
  background: transparent;
}

.isHomeActive {
  margin-top: 1em;
  padding-top: 0.5em;
  margin-left: -1.5em;
  padding-left: 0.5em;
  height: 2em;
  font-size: 1.7em;
  border-left: 0em;
  background-color:#5843d6;
  width: 100% auto;
}

.isHomeActive button {
  color: white;
  width: 100%;
  text-align: left;
}

.skills-style {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -3em;
  background: #5843d6;
  z-index: 500000;
  box-shadow: -0.2em 0.2em 0.2em 0.3em grey;
}

.skills-style #side-bar-logo-cont {
  background-color: #5843d6;
}

.skills-style #slider-bar-link-cont button {
  color: white;
}

.isSkillsActive {
  margin-top: 1em;
  padding-top: 0.5em;
  margin-left: -1.5em;
  padding-left: 0.5em;
  height: 2em;
  font-size: 1.7em;
  border-left: 0em;
  background-color: #1a1440;
  width: 100% auto;
}

.eduAndExp-style {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -3em;
  background: #242424;
  z-index: 500000;
  box-shadow: -0.2em 0.2em 0.2em 0.3em grey;
}

.eduAndExp-style #side-bar-logo-cont {
  background-color: #242424;
}

.eduAndExp-style #slider-bar-link-cont button {
  color: white;
}

.isEduAndExpActive {
  margin-top: 1em;
  padding-top: 1em;
  margin-left: -1.5em;
  padding-left: 0.5em;
  height: 2.7em;
  font-size: 1.5em;
  border-left: 0em;
  color: white;
  background-color: #c7984b;
  width: 100% auto;
}

.about-style {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -3em;
  background: #2d293b;
  z-index: 500000;
  box-shadow: -0.2em 0.2em 0.2em 0.3em grey;
}

.about-style #side-bar-logo-cont {
  background-color: #2d293b;
}

.about-style #slider-bar-link-cont button {
  color: white;
}

.isAboutActive {
  margin-top: 1em;
  padding-top: 0.5em;
  margin-left: -1.5em;
  padding-left: 0.5em;
  height: 2em;
  font-size: 1.7em;
  border-left: 0em;
  background-color: #ca7650;
  width: 100% auto;
}
