<div id="nav-bar-container">
  <!-- mobile view -->
    <div id="mobile-view">
      <div id="container-img">
        <img [hidden]="isSkillsActive"  (click)="sidebar()" id="hamburgIcon" src="assets/img/hamburgIcon.png" alt="" srcset="">
        <img [hidden]="isHomeActive"  (click)="sidebar()" id="hamburgIcon" src="assets/img/hamburgIcon.png" alt="" srcset="">
        <img [hidden]="isEduAndexpActive" (click)="sidebar()" id="hamburgIcon" src="assets/img/skills page icons/hamburger_2.png" alt="" srcset="">
        <img [hidden]="isAboutpgActive" (click)="sidebar()" id="hamburgIcon" src="assets/img/hamburgIcon_3.png" alt="" srcset="">
      </div>
      <div id="container-img-2">
        <img id="logo" src="assets/img/Hnaro-logo.png" alt="" srcset="">
      </div>
    </div>
    <!-- desktop view -->
    <div id="desktop-view">
      <div id="container-img-2">
        <img id="logo" src="assets/img/Hnaro-logo.png" alt="" srcset="">
      </div>
      <div id="navbar-btn-container">
        <button (click)="homePgBtn()" [class.isHomeActive]="homeIsActive"><span>Home</span></button>
        <button (click)="skillsPgBtn()" [class.isHomeActive]="skillsIsActive">Skills</button>
        <button (click)="eduAndExpPgBtn()" [class.isHomeActive]="eduAndExpIsActive">Education & Experience</button>
        <button (click)="aboutPgBtn()" [class.isHomeActive]="aboutIsActive" id="aboutBtn-style">About</button>
      </div>
    </div>
  </div>
