<div id="home-page-container">
    <!-- welcome page -->
    <!-- mobile view -->
    <div id="mobile-view">
        <div id="welcome-page-container">
            <H1>Hi There <br> Im <span id="pink-color">Arhon</span></H1>
            <h2>I am into <span>web developing</span></h2>
        </div>
        <div id="welc-page-btn-container">
            <button>About me</button>
        </div>
    </div> 
    <!-- desktop view -->
    <div id="desktop-view">
        <img src="../../assets/img/profile.png" alt="" srcset="">
    </div>
</div>