<div id="home-page-container">
    <!-- mobile view -->
    <div id="section-1-banner">
        <div id="mobile-view">
          <!-- welcome page -->
          <div id="welcome-page-container">
              <H1>Hi There, <br> I'm <span id="pink-color">Arhon</span></H1>
              <h2>I am into <span>web developing</span></h2>
              <div id="short-description-container">
                <p><span id="highlight-info-style">I love designing, building,
                  creating</span> stuffs from scratch ever since its like a therapy for me,
                  gives me energy and boost to my mind and soul, makes me feel
                  comfortable and free.
              </div>
              <div id="welc-page-links-container">
                <a href="https://www.facebook.com/arhon.serrano.58"><img src="assets/img/about page icons/facebook.png" alt="" srcset=""></a>
                <a href="https://www.instagram.com/hnaro_16/?igshid=OGQ5ZDc2ODk2ZA%3D%3D&fbclid=IwAR1btoprXa7DsrVsfjFr0fG0_cNcJRYLG4gTvU1-gtOILJfvJw66lPASh7E"><img src="assets/img/about page icons/instagram.png" alt="" srcset=""></a>
                <a href="https://www.linkedin.com/in/arhon-serrano-73a672181/"><img src="assets/img/about page icons/linkdln.png" alt="" srcset=""></a>
                <a href="https://github.com/Hnaro"><img src="assets/img/about page icons/github.png" alt="" srcset=""></a>
              </div>
          </div>
      </div>
      <!-- desktop view -->
      <div id="desktop-view">
          <img loading="lazy" src="assets/img/mainBanner.png" alt="" srcset="">
      </div>
    </div>
</div>
