#welc-page-btn-container {
    display: flex;
    align-items: center;
}
/* about me button style */
#welc-page-btn-container button {
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    border-radius: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    font-weight: 750;
    border: 0px;
    background-color: #000081;
    box-shadow: -0.1em 0.1em 0.1em 0.1em #909090;
}
#home-page-container {
    margin-top: 10em;
    padding-left: 2em;
}

#home-page-container h1 {
    color: #5843d6;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 3em;
    font-weight: 600;
}
#home-page-container h2 {
    text-align: center;
    margin-left: -2em;
    font-stretch:extra-expanded;
    font-style: italic;
}
h2 span {
    color: #d34747;
    font-family: 'Times New Roman', Times, serif;
}
#pink-color {
    color: #ec3878;
}

#desktop-view {
    display: none;
}

/* tablet view */
@media screen and (min-width: 570px) {
    #desktop-view {
        display: none;
    }
    #mobile-view #welcome-page-container h1 {
        font-size: 4em;
        text-align: center;
    }
    #mobile-view #welcome-page-container h2 {
        font-size: 2.5em;
        margin: 0 auto;
        text-align: center;
    }
    #welc-page-btn-container button {
        margin-top: 2em;
        font-size: 1.6em;
    }
}

/* mini tablet to large tablet view*/
@media screen and (min-width: 570px) {
    #home-page-container {
        padding-top: 2em;
    }
    #welcome-page-container {
        font-size: 1em;
    }
}

/* desktop view */
@media screen and (min-width: 1650px) {
    #home-page-container {
        display: flex;
        padding-top: 0em;
        align-items: center;
        justify-content: center;
        margin-top: 15em;
    }
    #desktop-view {
        border-radius: 100%;
        overflow: hidden;
        background-color: #5843d6;
        display:flex;
        margin-left: 25em;
    }
    #mobile-view {
        display: block;
    }
    #mobile-view #welcome-page-container h1 {
        font-size: 5em;
    }
    #mobile-view #welcome-page-container h2 {
        margin-left: 0.2em;
        margin-top: -1em;
        font-size: 2em;
    }
    #welc-page-btn-container button {
        font-size: 1.6em;
    }

    #desktop-view img{
        height: 26em;
        width: 29.5em;
    }
}