/*mobile design*/
#nav-bar-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* div arrange*/
.main-container {
  display: inline-block;
  width: 100%;
}

/* image container */
#container-img {
  width: 50%;
}
#container-img-2 {
  width: 50%;
}

/* image style */
#container-img #hamburgIcon{
  float: left;
  width: 35px;
  height: 28px;
  padding: 1.2em;
}
#container-img-2 #logo{
  float: right;
  width: 92px;
  height: 30px;
  padding: 1.2em;
}

/* welcome page container */
#welcome-page-container {
  margin-top: 10em;
  padding-left: 2em;
}

#welcome-page-container h1 {
  color: #5843d6;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
}
#welcome-page-container h2 {
  text-align: center;
  margin-left: -2em;
  font-stretch:extra-expanded;
  font-style: italic;
}
h2 span {
  color: #d34747;
  font-family: 'Times New Roman', Times, serif;
}
#pink-color {
  color: #ec3878;
}

#welc-page-btn-container {
  display: flex;
  align-items: center;
}
/* about me button style */
#welc-page-btn-container button {
  text-align: center;
  margin: 0 auto;
  font-size: 1.3em;
  border-radius: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  font-weight: 750;
  border: 0px;
  background-color: #000081;
  box-shadow: -0.1em 0.2em 0.1em 0.1em #dadada;
}

#outer-container {
 /* background: linear-gradient(#5d2e9c 5%, #5843d6 95%);*/
}

/*skill page styles*/
#skills-page {
  margin-bottom: 10em;
}

/* footer design */
footer {
  bottom: 0;
  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  height: 384px; 
  background-color: #41329d;
  text-align: center;
}
footer header {
  text-align: center;
  margin: 0.2em;
  padding: 0.7em;
  font-size: 1em;
  font-weight: 900;
  color:white;
}

footer input::placeholder {
  color: #1a1440;
  font-weight: 900;
  font-size: 1.1em;
  padding: 1em;
  transform: translateY(-60px);
  opacity: 0.9;
}

footer input[type=text]{
  color: #1a1440;
  font-weight: 900;
  padding: 0.5em;
  opacity: 0.9;
  border: 0px solid none;
  padding-left: 1em;
}

footer input {
  margin: 0 auto;
  height: 15em;
  width: 80%;
  border-radius: 1.2em;
  border: 0px;
}

footer #copyright-container {
  margin: 0 auto;
  margin-top: 2em ;
  padding: 0.5em;
  font-weight: 900;
  width: 120px;
  border-radius: 0.7em;
  font-size: 0.8em;
  background-color: #ec3878;
}

footer p {
  margin-top: 1em;
  font-size: 0.9em;
  font-weight: 900;
}

