<div id="outer-container">
  <div class="main-container" id="slider-bar-container">
    <!-- navigation bar links -->
    <app-nav-bar-slider [visibility]="isVisible" (updateHomeVisibility)="showHome($event)" (updateDataToParent)="recieveUpdatedData($event)"></app-nav-bar-slider>
    <!-- navigation bar header -->
    <app-navbar-component (updateVisibility)="showHome($event)" [isEduAndexpActive]="educationAndExpPageVisibility" [isSkillsActive]="skillspgVisibility" [isHomeActive]="homepgVisibility" (isVisible)="handlevisibility($event)"></app-navbar-component>
  </div>
    <!-- HOME PAGE -->
    <div id="">
      <app-home-page-component (activateAboutStyleBtn)="aboutBtn($event)" (updateVisibility)="showHome($event)"></app-home-page-component>
      <div id="main-btns-container">
        <button id="btn-1">Main</button>
        <button id="main-btnslider-style">Skills & Tools</button>
        <button>Education & Expirience</button>
      </div>
      <div id="slide-banner-container">
        <!-- SKILLS PAGE  -->
        <app-skills-component [hidden]="skillspgVisibility"></app-skills-component>
        <!-- EDUCATION AND EXPERIENCE PAGE -->
        <app-ed-exp-component [hidden]="educationAndExpPageVisibility"></app-ed-exp-component>
        <!-- HOME PAGE -->
        <app-about-page-component [hidden]="homepgVisibility"></app-about-page-component>
        <app-footer-component></app-footer-component>
      </div>
    </div>
</div>


