/*mobile design*/
#nav-bar-container {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0px;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  background:transparent;
  justify-content: center;
  z-index: 50000;
}

/* image container */
#container-img {
  width: 50%;
}
#container-img-2 {
  width: 50%;
}

/* image style */
#container-img #hamburgIcon{
  float: left;
  width: 35px;
  height: 28px;
  padding: 1.2em;
}
#container-img-2 #logo{
  float: right;
  width: 102px;
  height: 40px;
  padding: 1.2em;
}


/* div arrange*/
.main-container {
  margin-top: 3em;
  display: inline-block;
  width: 100%;
}

/* welcome page container */
#welcome-page-container {
  margin-top: 10em;
  padding-left: 2em;
}

#welcome-page-container h1 {
  color: #5843d6;
  font-size: 3em;
  font-weight: 600;
}
#welcome-page-container h2 {
  text-align: center;
  margin-left: -2em;
  font-stretch:extra-expanded;
  font-style: italic;
}
h2 span {
  color: #d34747;
  font-family: 'Times New Roman', Times, serif;
}
#pink-color {
  color: #ec3878;
}

#welc-page-btn-container {
  display: flex;
  align-items: center;
}
/* about me button style */
#welc-page-btn-container button {
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  border-radius: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  font-weight: 750;
  border: 0px;
  background-color: #000081;
  box-shadow: -0.1em 0.1em 0.1em 0.1em #909090;
}

#outer-container {
 /*background: linear-gradient(#5d2e9c 0.5%, #5843d6 30%);*/
}

/*skill page styles*/
#skills-page {
  margin-bottom: 10em;
}

footer {
  width: 100%;
  position: absolute;
  height: 25em;
  top: 0px;
}
