<div id="outer-container">
  <div class="main-container" id="slider-bar-container">
    <!-- navigation bar links -->
    <app-nav-bar-slider [visibility]="isVisible" (updateDataToParent)="recieveUpdatedData($event)"></app-nav-bar-slider>
    <!-- navigation bar header -->
    <app-navbar-component (isVisible)="handlevisibility($event)"></app-navbar-component>
  </div>
    <!-- HOME PAGE -->
    <div id="">
      <app-home-page-component (activateAboutStyleBtn)="aboutBtn($event)"></app-home-page-component>
      <div id="main-btns-container">
        <button (click)="onClick('main')" [class.isActive]="isMainActive">Main</button>
        <button (click)="onClick('skills')" id="main-btnslider-style" [class.isActive]="isSkillsActive">Skills & Tools</button>
        <button (click)="onClick('edu')" [class.isActive]="isEduActive">Education & Expirience</button>
      </div>
      <div id="slide-banner-container">
        <!-- SKILLS PAGE  -->
        <app-skills-component [hidden]="isSkillsSectionActive"></app-skills-component>
        <!-- EDUCATION AND EXPERIENCE PAGE -->
        <app-ed-exp-component [hidden]="isEduSectionActive"></app-ed-exp-component>
        <!-- HOME PAGE -->
        <app-about-page-component [hidden]="isMainSectionActive"></app-about-page-component>
      </div>
      <app-footer-component></app-footer-component>
    </div>
</div>


