<div id="projectDiv-baseContainer">
  <div id="project-intro-container">
    <h1>Project Introduction</h1>
    <p>
      These featured projects are created using angular, node, express and with the help of
      AWS EC2 for deploying backend and github pages for frontend and using different tools to help create a project for showcasing my skills
      in different frameworks and libraries and also integrating different API's that also show how I can deal
      with different technologies and learn them from scratch.
    </p>
  </div>
  <div id="project-contents-container">
    <h1>Featured Projects</h1>
    <app-project-box [imageUrl]="gameinfowebImageUrl" projectTitle="GameInfoWeb" [description]="description"></app-project-box>
    <app-project-box projectTitle="Coming-soon XsoticZone" [description]="descriptionXsotic" [imageUrl]="defaultCover"></app-project-box>
    <app-project-box projectTitle="Coming-soon pinoySeaMovies" [description]="defautDesc" [imageUrl]="defaultCover"></app-project-box>
  </div>
</div>
