<div [hidden]="visibility" class="nav-bar-slider-container">
  <div id="slider-bar-head-cont">
    <div id="side-bar-close-cont">
      <img (click)="close()" src="assets/img/backarrow.png" alt="">
    </div>
  </div>
  <div id="slider-bar-link-cont">
    <ul>
      <li routerLinkActive="isHomeActive" [routerLinkActiveOptions]="{exact: true}"><button
        routerLink="/"
        (click)="onClickHomePage()">Home</button></li>
      <li routerLinkActive="isHomeActive" [routerLinkActiveOptions]="{exact: true}" ><button
        routerLink="/projects"
        (click)="onClickProjects()">Projects</button></li>
      <!-- <li><button>Projects</button></li> -->
    </ul>
  </div>
</div>
