<div id="aboutpg-container">
    <div id="about-pg-hd-container">
        <h1>Arhon Serrano</h1>
        <h6>Web Developer | 24 y/old | 12-16-1998 | Filipino </h6>
    </div>
    <h1>About me</h1>
    <div>
        <p><span>Hi I am Arhon, </span>I am a young professional tok a bachelor's degree 
            in Information Technology, seeking an opportunity to your esteemed company 
            where i can showcase my skills in the field of web/app developer and maintain 
            a positive attitude and strong work ethics</p>
    </div>
    <h1>Soft Skills</h1>
    <ul>
        <li>Dynamic and adaptable in challenging environment 
            while providing excellent customer care</li>
        <li>Excellent written and verbal communicaition skills</li>
        <li>Initiative-taking, global-driven, with positive 'can do' attitude.</li>
        <li>People-person easily adapt to changing situations and execute tasks
            with prcision
        </li>
    </ul>
    <div>
        <h1>Contact</h1>
        <h4>Contact no. (+1)587-432-8911</h4>
    </div>
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <h1>Ho<span>bbies</span></h1>
        <ul>
            <li>Progamming</li>
            <li>Gaming</li>
            <li>Watching Movies</li>
            <li>Workout</li>
            <li>Reading</li>
        </ul>
    </div>
</div>