<div id="aboutpg-container">
    <div id="about-pg-hd-container">
        <h1>Arhon Serrano</h1>
        <h6>Web Developer | 24 y/old | 12-16-1998 | Filipino </h6>
    </div>

    <div id="aboutme-contact-section-container">
        <div id="aboutme-container">
            <h1 id="aboutme-style">About me</h1>
            <div id="intro-container">
                <p><span>Hi I am Arhon </span>I am a young professional took a bachelor's degree 
                    in Information Technology, seeking an opportunity to your esteemed company 
                    where i can showcase my skills in the field of web/app developer and maintain 
                    a positive attitude and strong work ethics</p>
            </div>
            <div id="softSkill-Style">
                <h1>Soft Skills</h1>
                <hr color="#6bd1c8">
            </div>
            <ul>
                <li>Dynamic and adaptable in challenging environment 
                    while providing excellent customer care</li>
                <li>Excellent written and verbal communicaition skills</li>
                <li>Initiative-taking, global-driven, with positive 'can do' attitude.</li>
                <li>People-person easily adapt to changing situations and execute tasks
                    with prcision
                </li>
            </ul>
        </div>
    
        <div id="contact-container">
            <div id="contact-subheader-container">
                <div class="desktop-view">
                    <div>
                        <h1>Contact</h1>
                        <hr color="#6bd1c8">
                    </div>
                </div>
                <div class="mobile-view">
                    <h4>Contact no. (+1)587-432-8911</h4>
                </div>
            </div>
            <div class="desktop-view">
                <ul>
                    <li><img src="../../assets/img/about page icons/facebook.png" alt=""><span>facebook</span></li>
                    <li><img src="../../assets/img/about page icons/instagram.png" alt=""><span>Instagram</span></li>
                    <li><img src="../../assets/img/about page icons/linkdln.png" alt=""><span>Linkdln</span></li>
                    <li><img src="../../assets/img/about page icons/github.png" alt=""><span>Github</span></li>
                    <li><img src="../../assets/img/about page icons/phone no..png" alt=""><span>(+1)587-432-8911</span></li>
                    <li><img src="../../assets/img/about page icons/mail.png" alt=""><span>arhonprincipe16@gmail.com</span></li>
                </ul>
            </div>
            <div class="mobile-view">
                <div id="contact-info-container">
                    <div><img src="../../assets/img/about page icons/github.png" alt=""></div>
                    <div><img src="../../assets/img/about page icons/linkdln_2.png" alt=""></div>
                    <div><img src="../../assets/img/about page icons/phone no..png" alt=""></div>
                    <div><img src="../../assets/img/about page icons/mail.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>

    <div id="hobbie-section-container">
        <h1>Ho<span>bbies</span></h1>
        <ul>
            <li>Progamming</li>
            <li>Gaming</li>
            <li>Watching Movies</li>
            <li>Workout</li>
            <li>Reading</li>
        </ul>
    </div>
</div>