<div id="aboutpg-base-container">
  <!-- softskills container -->
  <div id="section1-softskills-container">
    <h1>Soft Skills</h1>
    <div id="section1-ul-divcontainer">
      <ul>
        <li>Dynamic and adaptable in challenging environment
          while providing excellent customer care.</li>
        <li>Excellent written and verbal communicaition skills.</li>
        <li>Initiative-taking, global-driven, with positive 'can do' attitude.</li>
        <li>People-person easily adapt to changing situations and execute tasks
            with precision.
        </li>
      </ul>
    </div>
  </div>
<!-- About me container -->
  <div id="section2-aboutme-container">
    <div class="desktop-view">
      <h1>Arhon Serrano</h1>
      <p>Web Developer | 24 y/old | 12-16-1998 | Filipino </p>
    </div>

    <div id="section2-p-divcontainer">
      <h1>About me</h1>
      <p><span>Hi, I'm Arhon </span>I'm a young professional took a bachelor's degree
        in Information Technology, seeking an opportunity to your esteemed company,
        where I can showcase my skills in the field of web/app development and maintain
        a positive attitude and strong work ethics.</p>
    </div>
  </div>
<!--   <div id="about-pg-hd-container">
    <h1>Arhon Serrano</h1>
    <h6>Web Developer | 24 y/old | 12-16-1998 | Filipino </h6>
  </div>
  <div id="aboutme-contact-section-container">
    <div id="aboutme-container">
      <div id="aboutme-div-container">
        <h1 id="aboutme-style">About me</h1>
        <div id="intro-container">

        </div>
      </div>
      <div id="softskill-div-container">
        <div id="softSkill-Style">
          <h1>Soft Skills</h1>
          <hr color="#6bd1c8">
      </div>
        <ul>
            <li>Dynamic and adaptable in challenging environment
                while providing excellent customer care</li>
            <li>Excellent written and verbal communicaition skills</li>
            <li>Initiative-taking, global-driven, with positive 'can do' attitude.</li>
            <li>People-person easily adapt to changing situations and execute tasks
                with prcision
            </li>
        </ul>
      </div>
    </div>
  </div> -->
</div>
