<div id="nav-bar-container">
  <!-- mobile view -->
    <div id="mobile-view">
      <div id="container-img">
        <img (click)="sidebar()" id="hamburgIcon" src="assets/img/hamburgIcon.png" alt="" srcset="">
      </div>
      <div id="container-img-3">
        <img src="assets/img/mainBanner.png" loading="lazy" alt="web banner logo">
      </div>
      <div id="container-img-2">
        <img id="logo" src="assets/img/Hnaro-logo.png" alt="" srcset="">
      </div>
    </div>
    <!-- desktop view -->
    <div id="desktop-view">
      <div id="container-img-2">
        <img id="logo" src="assets/img/Hnaro-logo.png" alt="" srcset="">
      </div>
      <div id="profilepic-container"><img src="assets/profilePic.jpg" alt=""></div>
      <!-- nav bar links -->
      <div id="navbar-btn-container">
        <button
        routerLink="/"
        routerLinkActive="isHomeActive"
        [routerLinkActiveOptions]="{exact: true}"
          (click)="homePgBtn()">
          <span>Home</span>
        </button>
        <button
        routerLink="/projects"
        routerLinkActive="isHomeActive"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="skillsPgBtn()">
        <span>Projects</span>
      </button>
      </div>
    </div>
  </div>
