/*mobile design*/
/*base container*/
#nav-bar-container {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0px;
    background:transparent;
    justify-content: center;
    z-index: 50000;
    background-color: #1c1a25;
}

#container-img-3 img {
  padding: 1em;
  text-align: center;
  width: 4em;
  height: 3em;
}

#mobile-view {
  width: 100%;
  display: flex;
}

/* image container */
#mobile-view #container-img {
  width: 100%;
}
#mobile-view #container-img-2 {
  width: 100%;
}

  /* image style */
#container-img #hamburgIcon{
  float: left;
  width: 35px;
  height: 28px;
  padding: 1.2em;
}
#container-img-2 #logo{
  float: right;
  width: 102px;
  height: 40px;
  padding-top: 1.3em;
}
#container-img img:hover {
  cursor: pointer;
}


/* screen visibilit view */
#desktop-view {
  display: none;
}

/* tablet view */
@media screen and (min-width: 550px){
  #mobile-view {
    display: flex;
  }
  #tablet-view {
    display: none;
  }
}

/* desktop view */
@media screen and (min-width: 1250px) {
  #nav-bar-container {
    height: 5.5em;
  }
  .isHomeActive{
    color: #ec3878;
  }
  .isHomeActive span {
    font-size: 1.3em;
    color: #ec3878;
  }
  #mobile-view {
    display: none;
  }
  #desktop-view {
    width: 100%;
    height: 5em;
    background-color: #1c1a25;
    display:flex;
  }
  #desktop-view #container-img-2 {
    padding: 0.2em;
    margin-left: 5em;
  }
  #desktop-view #container-img-2 img {
    width: 120px;
    height: 45px;
  }
  #navbar-btn-container {
    text-align: right;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
    margin-right: 5em;
  }
  #navbar-btn-container button {
    border: 0px;
    background: transparent;
    font-size: 1.1em;
    margin-top: 1.3em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 600;
    color: white;
  }
  #navbar-btn-container button span:hover {
    color:#ec3878;
    cursor: pointer;
    font-size: 1.3em;
    transition: 150ms;
  }
  #aboutBtn-style {
    padding-left: 7em;
  }
}

