#welc-page-links-container img {
  display: inline-block;
  border-radius:100%;
  width: 1.4em;
  height: 1.4em;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #ec3878;
  border: 0.1em solid white;
}
#welc-page-links-container {
  display: flex;
  justify-content: center;
}
.mobile-view {
  display: none;
}
.desktop-view {
  display: none;
}

@media screen and (min-width: 770px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .desktop-view {
    display: block;
  }
  .mobile-view {
    display: block;
  }
}
