<div id="welc-page-links-container">
  <div class="mobile-view">
    <a href="mailto:arhonprincipe16@gmail.com"><img src="assets/img/about page icons/mail.png" alt=""></a>
    <a href="tel:+15874328911"><img src="assets/img/about page icons/phone no..png" alt=""></a>
    <a href="https://www.linkedin.com/in/arhon-serrano-73a672181/"><img src="assets/img/about page icons/linkdln.png" alt="" srcset=""></a>
    <a href="https://github.com/Hnaro"><img src="assets/img/about page icons/github.png" alt="" srcset=""></a>
  </div>
  <div class="desktop-view">
    <a href="https://www.facebook.com/arhon.serrano.58"><img src="assets/img/about page icons/facebook.png" alt="" srcset=""></a>
    <a href="https://www.instagram.com/hnaro_16/?igshid=OGQ5ZDc2ODk2ZA%3D%3D&fbclid=IwAR1btoprXa7DsrVsfjFr0fG0_cNcJRYLG4gTvU1-gtOILJfvJw66lPASh7E"><img src="assets/img/about page icons/instagram.png" alt="" srcset=""></a>
  </div>
</div>
