<div id="educationExp-page-container">
    <div id="edu-exp-container">
        <div id="education-section-container">
            <div class="education-container">
                <h1 class="edu-year-cont">2021 - 2022</h1>
                <div class="edu-container">
                    <h1>CDI College</h1>
                </div>
            </div>
            <div class="education-container">
                <h1 class="edu-year-cont">2020 - 2021</h1>
                <div class="edu-container">
                    <h1>SAIT - <span class="sml-sz">Southern Alberta Institute of Technology</span></h1>
                </div>
            </div>
            <div class="education-container">
                <h1 class="edu-year-cont">2014 - 2018</h1>
                <div class="edu-container">
                    <h1>AMA Computer College <br><span class="sml-sz">(Philippines)</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div id="intern-section-container">
        <div id="intern-info-main-container">
            <div class="intern-info-cont">Graphic Designer Intern <br> <span>Sta.Cruz Laguna (Philippines)</span></div>
            <div class="intern-info-cont">Front End <br> Web Developer Intern <br><span>Montreal, Quebec (Canada)</span></div>
        </div>
    </div>
</div>
