#educationExp-page-container {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color:white;
    width: 100% auto;
    font-size: 0.5em;
    text-align: center;
}
.section-containers {
  display: inline-block;
  width: 90%;
  padding: 1em;
  margin-top: 2em;
}
.education-containers {
  padding: 1em;
  margin-top: 0.5em;
  background-color: #5a41d1;
}
.internInfo-containers {
  color: #3b335e;
  padding: 1em;
  margin-top: 0.5em;
  background-color: #5a41d1;
}
.internInfo-containers span {
  color: white;
}
.edu-year-conts{
  color: #3b335e;
}

/* small-large tablet view */
@media screen and (min-width: 770px) {
  #educationExp-page-container {
    display: flex;
  }
  .section-containers {
    width: 45%;
    height: 40em;
    margin-left: 0.5em;
    margin-bottom: 4em;
  }
}

/* desktop view*/
@media screen and (min-width: 1000px) {
  #educationExp-page-container {
    margin: 0 auto;
    width: 60%;
    font-size: 0.7em;
  }
  .section-containers {
    width: 59%;
    height: 40em;
    margin-left: 0.5em;
    margin-bottom: 4em;
  }
}
