<div id="educationExp-page-container">
    <h1 id="main-title-h1">Education 
        <span id="header-span-cont"> & Experiences</span>
    </h1>
    <div id="edu-exp-container">
        <div id="education-section-container">
            <div class="education-container">
                <h1 class="edu-year-cont">2021 - 2022</h1>
                <div class="edu-container">
                    <h1>CDI College</h1>
                </div>
            </div>
            <div class="education-container">
                <h1 class="edu-year-cont">2020 - 2022</h1>
                <div class="edu-container">
                    <h1>SAIT - <span class="sml-sz">Southern Alberta Institute of Technology</span></h1>
                </div>
            </div>
            <div class="education-container">
                <h1 class="edu-year-cont">2014 - 2018</h1>
                <div class="edu-container">
                    <h1>AMA Computer College <br><span class="sml-sz">(Philippines)</span></h1>
                </div>
            </div>
        </div>
    
        <div id="experience-section-container">
            <div class="header-section-container">
                <h1>Experiences</h1>
            </div>
            <div class="main-content-container">
                <div class="jobinfo-container">
                    <div class="content-header-container">
                        <h1>Seafood City</h1>
                        <div class="mobile-view">
                            <h6><span class="highlight-color">Meat Cutter</span> <br>Aug 2022 - Jan 2023</h6>
                        </div>
                    </div>
                    <div class="info-container">
                        <ul>
                            <li>Inventory management</li>
                            <li>Provide friendly and efficient customer service</li>
                            <li>Responsible for all aspects of meat counter operation</li>
                            <li>Serving customers specific products according to orders</li>
                        </ul>
                    </div>
                </div>

                <div class="desktop-view" class="job-title-container">
                    <h6><span class="highlight-color">Meat Cutter</span> <br>Aug 2022 - Jan 2023</h6>
                </div>
            </div>

            <div class="main-content-container">
                <div class="jobinfo-container">
                    <div class="content-header-container">
                        <h1>McDonalds</h1>
                        <div class="mobile-view">
                            <h6><span class="highlight-color">Customer <br> Service</span> <br>Sept 2021 - June 2022</h6>
                        </div>
                    </div>
                    <div class="info-container">
                        <ul>
                            <li>Maintaining cleanliness standards</li>
                            <li>Assembling and packaging takeaway orders</li>
                            <li>Communicating food and drink orders to the kitchen staff</li>
                        </ul>
                    </div>
                </div>
                <div class="desktop-view" class="job-title-container">
                    <h6><span class="highlight-color">Customer <br> Service </span> <br>Sept 2021 - June 2022</h6>
                </div>
            </div>


            <div class="main-content-container">
                <div class="jobinfo-container">
                    <div class="content-header-container">
                        <h1>Popeye's</h1>
                        <div class="mobile-view">
                            <h6><span class="highlight-color">Cashier</span> <br> 2019 - 2018</h6>
                        </div>
                    </div>
                    <div class="info-container">
                        <ul>
                            <li>OPerate POS</li>
                            <li>Issuing Reciepts</li>
                            <li>Receiving payments</li>
                        </ul>
                    </div>
                </div>
                <div class="dekstop-view" class="job-title-container">
                    <h6><span class="highlight-color">Cashier</span> <br> 2019 - 2018</h6>
                </div>
            </div>
        </div>
    </div>
    
    <div id="intern-section-container">
        <h1>Internship</h1>
        <div id="intern-info-main-container">
            <div class="intern-info-cont">Graphic Designer Intern <br> <span>Sta.Cruz Laguna (Philippines)</span></div>
            <div class="intern-info-cont">Front End <br> Web Developer Intern <br><span>Montreal, Quebec (Canada)</span></div>
        </div>
    </div>
</div>