<div id="educationExp-page-container">
    <div class="section-containers" id="eduSection-container">
        <div id="education-section-container">
            <div class="education-containers">
                <h1 class="edu-year-conts">2021 - 2022</h1>
                <div class="edu-container">
                    <h1>CDI College</h1>
                </div>
            </div>
            <div class="education-containers">
                <h1 class="edu-year-conts">2020 - 2021</h1>
                <div class="edu-container">
                    <h1>SAIT - <span class="sml-sz">Southern Alberta Institute of Technology</span></h1>
                </div>
            </div>
            <div class="education-containers">
                <h1 class="edu-year-conts">2014 - 2018</h1>
                <div class="edu-container">
                    <h1>AMA Computer College <br><span class="sml-sz">(Philippines)</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section-containers" id="internSection-container">
        <div id="intern-info-main-container">
            <div class="internInfo-containers"><h1>Graphic Designer Intern <br> <span>Sta.Cruz Laguna (Philippines)</span></h1></div>
            <div class="internInfo-containers"><h1>Front End <br> Web Developer Intern <br><span>Montreal, Quebec (Canada)</span></h1></div>
        </div>
    </div>
</div>
